.base {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px solid red; */
  margin: 20px;
}

.champion {
  position: relative;
  /* border: 1px solid red; */
}

.championImage {
  width: 70px;
  height: 70px;
  /* display: block; */
}

.badgesContainer {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  display: flex;
  justify-content: space-between;
}

.name {
  flex: 0;
  font-weight: bold;
  font-size: 15px;
}
