.row {
  flex-direction: row;
  display: flex;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 35px;
  align-items: center;
  position: relative;
  margin-right: 50px;
}

.longRow {
  margin-right: 150px;
}

.combosContainer {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 380px; */
  /* min-width: 200px; */
  align-self: stretch;
  justify-content: center;
  overflow: visible;
  align-content: space-between;

  margin-bottom: 15px;

  position: absolute;
  left: 100%;
  height: 90px;
}

.longCombosContainer {
  /* width: 350px; */
}

.combo {
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
}

.star {
  width: 24px;
  height: 24px;
  margin-right: 50px;
  position: absolute;
  right: 100%;
  top: 22px;
}

.floatingSpatula {
  /* border: 3px solid red; */
  padding-bottom: 20px;
  padding-right: 5px;
}
