body {
  background-color: #000000;
}

.App {
  text-align: center;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* border: 1px solid red; */
}

.logo {
  width: 400px;
  margin-right: 50px;
  filter: hue-rotate(10deg) brightness(1.60);
}

.description {
  color: #EAB548;
  font-size: 22px;
}

.title1 {
  color: #EAB548;
  font-size: 52px;
  font-weight: bold;
}
.title2 {
  color: #EAB548;
  font-size: 42px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spatulaWrapper {
  color: #EAB548;
  font-size: 30px;
  font-weight: initial;
  font-style: italic;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.spatulaImage2 {
  width: 36px;
  height: 36px;
  border: 1px solid yellow;
  border-radius: 30px;
}

.tag {

}

.fixedSpace {
  width: 10px;
}

.appFooter {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  color: #EAB548;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 10px;
  max-width: 850px;
  text-align: left;
}

.footerStar {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
