.baseSpatula {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px solid red; */
  margin: 20px;
}

.wrapper {
  position: relative;
  /* border: 1px solid red; */
}

.spatulaImage {
  width: 46px;
  height: 46px;
  border-radius: 40px;
  border: 1px solid rgb(230, 225, 56);
}

.name {
  flex: 0;
  font-weight: bold;
  font-size: 15px;
}
