// SCSS
// Ads
.ad-wrapper {
    position: relative;
    width: 100%;
    &.banner {
        margin-bottom: 30px;
    }
    &.foot {
        margin-top: 30px;
    }
    &.banner, &.foot {
        min-height: 50px;
        .ad {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            max-width: 320px;
            .responsive_ad {
                width: 320px;
                height: 50px;
            }
        }
    }
    &.side {
        display: none;
        margin-top: 30px;
        min-height: 250px;
        .ad {
            max-width: 300px;
        }
        .pad {
            width: 300px;
            height: 250px;
        }
    }
    &.left, &.right {
        position: fixed;
        top: 80px;
        display: inline-block;
        width: 300px;
        height: 600px;
        .ad {
            width: 300px;
            height: 600px;
        }
        .pad {
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 600px;
        }
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
    .ad {
        top: 0;
        left: 50%;
        z-index: 15;
        margin: 0 auto;
    }
}
// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .ad-wrapper {
        &.banner, &.foot {
            min-height: 90px;
            .ad {
                max-width: 728px;
                .responsive_ad {
                    width: 728px;
                    height: 90px;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .ad-wrapper {
        &.banner {
            min-height: 90px;
            .ad {
                max-width: 728px;
            }
            .pad {
                width: 728px;
                height: 90px;
            }
        }
        &.foot {
            .ad {
                max-width: 728px;
            }
            .pad {
                width: 728px;
                height: 90px;
            }
        }
        &.side {
            display: block;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1879.98px) {
    .ad-wrapper {
        &.right, &.left {
            display: none;
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 767.98px) {
}