// Main
.main {
    flex: 1;
}
.sidebar {
    margin-bottom: 30px;
}
// Container
.container {
    margin-bottom: 50px;
    padding: 0 15px;
}
.row {
    margin: 0;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        max-width: 932px;
        padding: 0;
    }
    .main {
        padding: 0 0 0 30px;
        border-left: 1px solid $white-10;
    }
    .sidebar {
        width: 300px;
        max-width: 300px;
        margin-right: 30px;
        padding: 0;
        flex: none;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1260px) {
    .container {
        max-width: 1200px;
    }
}